html, body {
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.stats {
  padding: 0 1rem;
  border: 1px solid black;
}

section.card {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 5vmin;
}

section.card > * {
  margin: auto 0;
}

section.buttons {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.buttons > * {
  flex: 1 1 10%;
  font-size: 3vmin;
  padding: 3vmin 0;
}

section.buttons > :not(:first-child) {
  margin-left: 3vmin;
}

section.buttons > .flip {
  flex: 1 0 100%;
  margin: 3vmin 0 10vmin 0;
}
