html, body {
  position: relative;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  padding: 1rem;
}

main {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.stats {
  padding: 0 1rem;
  margin: 1rem;
  border: 1px solid black;
  box-sizing: border-box;
}

section.card {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 5rem;
}

section.card > * {
  margin: auto 0;
}

section.buttons {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.buttons > * {
  flex: 1 1 10%;
  font-size: 3rem;
  padding: 1rem 0;
}

section.buttons > :not(:first-child) {
  margin-left: 1rem;
}

section.buttons > .flip {
  flex: 1 0 100%;
  margin: 1rem 0 0 0;
}
